# Projeto 2 - Análise de dados

**Nome:** *Maria Eduarda Gonçalves Torres*

**Nome:** *Pedro Rubens*

$\Rightarrow$ Carregando algumas bibliotecas :

In [37]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re 
import seaborn as sns

$\Rightarrow$ Importando database :

In [38]:
data='Public_Health.csv'
dados = pd.read_csv(data)
dados.head(5)

,Community Area,Community Area Name,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,...,Childhood Lead Poisoning,Gonorrhea in Females,Gonorrhea in Males,Tuberculosis,Below Poverty Level,Crowded Housing,Dependency,No High School Diploma,Per Capita Income,Unemployment
0,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,0.5,322.5,423.3,11.4,22.7,7.9,28.8,18.1,23714,7.5
1,2,West Ridge,17.3,83.3,8.1,71.1,8.3,29.9,5.8,20.2,...,1.0,141.0,205.7,8.9,15.1,7.0,38.3,19.6,21375,7.9
2,3,Uptown,13.1,50.5,8.3,77.7,10.3,35.1,5.4,21.3,...,0.5,170.8,468.7,13.6,22.7,4.6,22.2,13.6,32355,7.7
3,4,Lincoln Square,17.1,61.0,8.1,80.5,9.7,38.4,5.0,21.7,...,0.4,98.8,195.5,8.5,9.5,3.1,25.6,12.5,35503,6.8
4,5,North Center,22.4,76.2,9.1,80.4,9.8,8.4,1.0,16.6,...,0.9,85.4,188.6,1.9,7.1,0.2,25.5,5.4,51615,4.5

In [39]:
#dados.loc[dados['Low Birth Weight'].isna()]

In [40]:
dados.shape

(77, 29)

In [41]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 29 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Community Area                              77 non-null     int64
 1   Community Area Name                         77 non-null     object
 2   Birth Rate                                  77 non-null     float64
 3   General Fertility Rate                      77 non-null     float64
 4   Low Birth Weight                            77 non-null     float64
 5   Prenatal Care Beginning in First Trimester  77 non-null     float64
 6   Preterm Births                              77 non-null     float64
 7   Teen Birth Rate                             77 non-null     float64
 8   Assault (Homicide)                          77 non-null     float64
 9   Breast cancer in females                    77 non-null     float64
 10  Cancer (All Sites)                          77 non-null     float64
 11  Colorectal Cancer                           77 non-null     float64
 12  Diabetes-related                            77 non-null     float64
 13  Firearm-related                             77 non-null     float64
 14  Infant Mortality Rate                       77 non-null     float64
 15  Lung Cancer                                 77 non-null     float64
 16  Prostate Cancer in Males                    77 non-null     float64
 17  Stroke (Cerebrovascular Disease)            77 non-null     float64
 18  Childhood Blood Lead Level Screening        76 non-null     float64
 19  Childhood Lead Poisoning                    76 non-null     float64
 20  Gonorrhea in Females                        65 non-null     float64
 21  Gonorrhea in Males                          77 non-null     object
 22  Tuberculosis                                77 non-null     float64
 23  Below Poverty Level                         77 non-null     float64
 24  Crowded Housing                             77 non-null     float64
 25  Dependency                                  77 non-null     float64
 26  No High School Diploma                      77 non-null     float64
 27  Per Capita Income                           77 non-null     int64
 28  Unemployment                                77 non-null     float64
dtypes: float64(25), int64(2), object(2)
memory usage: 17.6+ KB

In [56]:
media_CBLLS = dados['Childhood Blood Lead Level Screening'].mean()

In [50]:
media_CLP = dados['Childhood Lead Poisoning'].mean()

In [53]:
media_GF = dados['Gonorrhea in Females'].mean()

In [62]:
values = {'Childhood Blood Lead Level Screening': media_CBLLS, 'Childhood Lead Poisoning': media_CLP, 'Gonorrhea in Females': media_GF}
dados.fillna(value=values)

,Community Area,Community Area Name,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,...,Childhood Lead Poisoning,Gonorrhea in Females,Gonorrhea in Males,Tuberculosis,Below Poverty Level,Crowded Housing,Dependency,No High School Diploma,Per Capita Income,Unemployment
0,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,0.5,322.500000,423.3,11.4,22.7,7.9,28.8,18.1,23714,7.5
1,2,West Ridge,17.3,83.3,8.1,71.1,8.3,29.9,5.8,20.2,...,1.0,141.000000,205.7,8.9,15.1,7.0,38.3,19.6,21375,7.9
2,3,Uptown,13.1,50.5,8.3,77.7,10.3,35.1,5.4,21.3,...,0.5,170.800000,468.7,13.6,22.7,4.6,22.2,13.6,32355,7.7
3,4,Lincoln Square,17.1,61.0,8.1,80.5,9.7,38.4,5.0,21.7,...,0.4,98.800000,195.5,8.5,9.5,3.1,25.6,12.5,35503,6.8
4,5,North Center,22.4,76.2,9.1,80.4,9.8,8.4,1.0,16.6,...,0.9,85.400000,188.6,1.9,7.1,0.2,25.5,5.4,51615,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Washington Heights,12.0,61.0,19.6,75.4,16.2,65.0,38.0,47.9,...,1.5,1298.200000,1274.2,3.0,15.7,1.1,42.4,15.6,19709,18.3
73,74,Mount Greenwood,12.5,59.0,8.4,94.5,15.1,7.7,2.2,34.6,...,0.0,385.449351,.,0.0,3.1,1.1,37.0,4.5,34221,6.9
74,75,Morgan Park,13.2,67.5,10.6,74.5,12.3,46.7,19.9,32.4,...,1.3,800.500000,741.1,2.6,13.7,0.8,39.4,10.9,26185,14.9
75,76,O'Hare,15.8,70.0,3.5,82.0,5.0,15.9,5.6,20.5,...,0.5,385.449351,.,6.3,9.5,1.9,26.5,11.0,29402,4.7
76,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,0.9,120.100000,427.5,10.5,16.6,3.9,23.4,9.0,33364,9.0

In [64]:
dados.describe()

,Community Area,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,Cancer (All Sites),...,Childhood Blood Lead Level Screening,Childhood Lead Poisoning,Gonorrhea in Females,Tuberculosis,Below Poverty Level,Crowded Housing,Dependency,No High School Diploma,Per Capita Income,Unemployment
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,39.000000,15.698701,68.394805,10.101299,76.954545,11.264935,50.064935,18.068831,25.951948,194.277922,...,385.449351,5.857784,814.988210,6.844156,20.292208,4.912987,35.829870,21.596104,25106.740260,13.303896
std,22.371857,3.528735,15.257465,3.913926,5.245714,3.016916,28.097817,16.561077,9.557590,45.652058,...,119.085638,43.834388,841.985798,4.587956,11.496988,3.657341,7.269802,12.354995,14952.672297,7.031965
min,1.000000,9.400000,27.700000,3.500000,63.600000,5.000000,1.300000,0.000000,7.600000,120.100000,...,133.600000,0.000000,50.300000,0.000000,3.100000,0.200000,15.500000,2.900000,8535.000000,4.200000
25%,20.000000,12.900000,60.100000,7.300000,73.300000,8.800000,33.700000,4.900000,20.200000,152.900000,...,311.200000,0.300000,170.800000,3.000000,12.000000,2.000000,32.300000,13.400000,15467.000000,7.800000
50%,39.000000,15.700000,68.300000,8.700000,76.100000,10.800000,49.200000,10.800000,24.000000,189.400000,...,393.800000,0.700000,385.449351,6.500000,18.200000,4.200000,38.300000,18.500000,20489.000000,11.500000
75%,58.000000,18.500000,80.700000,12.700000,80.400000,13.700000,67.900000,32.200000,32.700000,235.200000,...,482.200000,1.200000,1298.200000,9.400000,26.100000,6.800000,40.900000,29.400000,29026.000000,17.400000
max,77.000000,22.400000,94.900000,19.700000,94.500000,17.500000,116.900000,70.300000,54.700000,291.500000,...,605.900000,385.449351,3193.300000,22.700000,61.400000,17.600000,50.200000,58.700000,87163.000000,40.000000