# Projeto 2 - Análise de dados

**Nome:** *Maria Eduarda Gonçalves Torres*

**Nome:** *Pedro Rubens*

$\Rightarrow$ Carregando algumas bibliotecas :

In [11]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re 
import seaborn as sns
from numpy import nan
from numpy import isnan
import sys

$\Rightarrow$ Importando database :

In [12]:
data='Public_Health.csv'
dados = pd.read_csv(data)
dados.head(5)

,Community Area,Community Area Name,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,...,Childhood Lead Poisoning,Gonorrhea in Females,Gonorrhea in Males,Tuberculosis,Below Poverty Level,Crowded Housing,Dependency,No High School Diploma,Per Capita Income,Unemployment
0,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,0.5,322.5,423.3,11.4,22.7,7.9,28.8,18.1,23714,7.5
1,2,West Ridge,17.3,83.3,8.1,71.1,8.3,29.9,5.8,20.2,...,1.0,141.0,205.7,8.9,15.1,7.0,38.3,19.6,21375,7.9
2,3,Uptown,13.1,50.5,8.3,77.7,10.3,35.1,5.4,21.3,...,0.5,170.8,468.7,13.6,22.7,4.6,22.2,13.6,32355,7.7
3,4,Lincoln Square,17.1,61.0,8.1,80.5,9.7,38.4,5.0,21.7,...,0.4,98.8,195.5,8.5,9.5,3.1,25.6,12.5,35503,6.8
4,5,North Center,22.4,76.2,9.1,80.4,9.8,8.4,1.0,16.6,...,0.9,85.4,188.6,1.9,7.1,0.2,25.5,5.4,51615,4.5

In [13]:
dados.shape

(77, 29)

In [14]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 29 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Community Area                              77 non-null     int64
 1   Community Area Name                         77 non-null     object
 2   Birth Rate                                  77 non-null     float64
 3   General Fertility Rate                      77 non-null     float64
 4   Low Birth Weight                            77 non-null     float64
 5   Prenatal Care Beginning in First Trimester  77 non-null     float64
 6   Preterm Births                              77 non-null     float64
 7   Teen Birth Rate                             77 non-null     float64
 8   Assault (Homicide)                          77 non-null     float64
 9   Breast cancer in females                    77 non-null     float64
 10  Cancer (All Sites)                          77 non-null     float64
 11  Colorectal Cancer                           77 non-null     float64
 12  Diabetes-related                            77 non-null     float64
 13  Firearm-related                             77 non-null     float64
 14  Infant Mortality Rate                       77 non-null     float64
 15  Lung Cancer                                 77 non-null     float64
 16  Prostate Cancer in Males                    77 non-null     float64
 17  Stroke (Cerebrovascular Disease)            77 non-null     float64
 18  Childhood Blood Lead Level Screening        76 non-null     float64
 19  Childhood Lead Poisoning                    76 non-null     float64
 20  Gonorrhea in Females                        65 non-null     float64
 21  Gonorrhea in Males                          77 non-null     object
 22  Tuberculosis                                77 non-null     float64
 23  Below Poverty Level                         77 non-null     float64
 24  Crowded Housing                             77 non-null     float64
 25  Dependency                                  77 non-null     float64
 26  No High School Diploma                      77 non-null     float64
 27  Per Capita Income                           77 non-null     int64
 28  Unemployment                                77 non-null     float64
dtypes: float64(25), int64(2), object(2)
memory usage: 17.6+ KB

In [15]:
dados.fillna(dados.mean(), inplace=True)

In [17]:
dados['Per Capita Income'] = dados['Per Capita Income'].astype(float)

numeros_GIM = dados['Gonorrhea in Males'] != '.'
gim_certo = dados.loc[numeros_GIM,['Gonorrhea in Males']]
gim_certo['Gonorrhea in Males'] = gim_certo['Gonorrhea in Males'].astype(float)
media_GIM = gim_certo['Gonorrhea in Males'].mean()
dados['Gonorrhea in Males'][dados['Gonorrhea in Males'] == '.'] = media_GIM
dados['Gonorrhea in Males'] = dados['Gonorrhea in Males'].astype(float)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [19]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 29 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Community Area                              77 non-null     int64
 1   Community Area Name                         77 non-null     object
 2   Birth Rate                                  77 non-null     float64
 3   General Fertility Rate                      77 non-null     float64
 4   Low Birth Weight                            77 non-null     float64
 5   Prenatal Care Beginning in First Trimester  77 non-null     float64
 6   Preterm Births                              77 non-null     float64
 7   Teen Birth Rate                             77 non-null     float64
 8   Assault (Homicide)                          77 non-null     float64
 9   Breast cancer in females                    77 non-null     float64
 10  Cancer (All Sites)                          77 non-null     float64
 11  Colorectal Cancer                           77 non-null     float64
 12  Diabetes-related                            77 non-null     float64
 13  Firearm-related                             77 non-null     float64
 14  Infant Mortality Rate                       77 non-null     float64
 15  Lung Cancer                                 77 non-null     float64
 16  Prostate Cancer in Males                    77 non-null     float64
 17  Stroke (Cerebrovascular Disease)            77 non-null     float64
 18  Childhood Blood Lead Level Screening        77 non-null     float64
 19  Childhood Lead Poisoning                    77 non-null     float64
 20  Gonorrhea in Females                        77 non-null     float64
 21  Gonorrhea in Males                          77 non-null     float64
 22  Tuberculosis                                77 non-null     float64
 23  Below Poverty Level                         77 non-null     float64
 24  Crowded Housing                             77 non-null     float64
 25  Dependency                                  77 non-null     float64
 26  No High School Diploma                      77 non-null     float64
 27  Per Capita Income                           77 non-null     float64
 28  Unemployment                                77 non-null     float64
dtypes: float64(27), int64(1), object(1)
memory usage: 17.6+ KB